.logo-img {
    width: 106px !important;
    height: 47px !important;
}

.bg-text-typ {
    font-size: 12px !important;
    font-weight: 700 !important;
}

.bg-title {
    font-size: 15px !important;
    ;
    font-weight: 700 !important;
    ;
    font-weight: bold !important;
    ;
}

.bg-text {
    font-size: 9px !important;
    margin-left: 8px;
    font-weight: 600 !important;
}

.text-typ {
    font-size: 10px !important;
    ;
    font-weight: 500 !important;
    ;
}

.text-bill {
    font-size: 12px !important;
    ;
    font-weight: 600 !important;
    ;
    color: #4F4F4F !important;
}

.bg-bill-id {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    color: #4F4F4F !important;
}

.bg-salary {
    font-size: 12px !important;
    ;
    font-weight: 400 !important;
    ;
}

.bg-total {
    font-size: 12px !important;
    ;
    font-weight: 600 !important;
    ;
    margin-top: 14px !important;
    ;

}

.bg-checkbox {
    padding: 0px !important;
    width: 20px !important;
    height: 8px !important;
    font-size: 10px !important;

}

/* task table */
.taskTable {
    border: 1px solid #7E7E7E;
    background: #A0C49D;
}

.taskTable table tr td {
    background: #fff;
}

.taskTable table thead tr th {
    border-right: 1px solid #7E7E7E;
    border-bottom: 1px solid #7E7E7E;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
    color: #756F6F;
}

.taskTable table tbody tr td:last-child {
    border-right: 0px solid;
}

.taskTable table thead tr th:last-child {
    border-right: 0px solid;

}

.taskTable table tbody tr:last-child td {
    border-bottom: none !important;
}

.taskTable table tbody tr td {
    border-right: 1px solid #7E7E7E;
    border-bottom: 1px solid #7E7E7E;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
}

/* billtable */
.billPageTable {
    border: 1px solid #555454;
    background: #DDE6ED;
}

.billPageTable table tr td {
    background: #DDE6ED;
}

.billPageTable table thead tr th {
    border-right: 1px solid #555454;
    border-bottom: 1px solid #555454;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.billPageTable table tbody tr td:last-child {
    border-right: 0px solid;
}

.billPageTable table thead tr th:last-child {
    border-right: 0px solid;

}

.billPageTable table tbody tr:last-child td {
    border-bottom: none !important;
}

.billPageTable table tbody tr td {
    border-right: 1px solid #555454;
    border-bottom: 1px solid #555454;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}