.taskListDrawer .MuiDrawer-paper {
  width: 380px !important;
  background: #C7DEE0;
}

.custom-textfield .MuiOutlinedInput-root {
  height: 30px;
  font-size: 13px;
}

.autocomplete {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: transparent;
  padding: 0 0 0 12px;
}

.autocomplete:focus {
  /* border-color: #07bc0c; */
  outline: none !important;
  border: 2px solid #049457 !important;
  border-radius: 5px;
  outline-color: #049457;
  /* padding: 0 0 0 0; */
}