.selectweek {
    width: 102px;
    height: 34px;
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    /* color: #fff !important; */
    border: 1px solid #fff;

}

.selectcalendar {
    width: 143px;
    height: 34px;
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    /* color: #fff !important; */
    border: 1px solid #fff;

}

.selectclick {
    width: 102px;
    height: 34px;
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    margin-left: 2px !important;
}

.bg-calendar {
    padding-top: 0px !important;

}

.bg-calendar input {
    font-size: 14px !important;
    color: #fff !important;
    padding: 7px 0px !important;
    margin-left: 3px !important;

}

.icons svg {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.54) !important;
}

.bg-selectclick {
    font-weight: 400 !important;
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    line-height: 16.41px !important;
}


/* calendar table */
.calendertable {
    border: 1px solid #E5E7E6;
    max-height: 60vh;
    /* height: 70vh; */
}

.calendertable table tr td {
    background: #fff;
}

.calendertable table thead tr th {
    border-right: 1px solid#E5E7E6;
    border-bottom: 1px solid #E5E7E6;
    width: 120px;
    height: 90px;

}

.calendertable table tbody tr td:last-child {
    border-right: 0px solid;
}

.calendertable table thead tr th:last-child {
    border-right: 0px solid;
}

.calendertable table tbody tr td {
    border-right: 1px solid #E5E7E6;
    border-bottom: 1px solid #E5E7E6;
    width: 120px;
    height: 90px;

}

.cg-content {
    overflow-x: hidden;
}

.calender-add {
    width: 31px !important;
    height: 25px !important;
    border-radius: 10px !important;
    background-color: #4EB2BD !important;
    color: #000 !important;
    margin-left: 40px !important;
    opacity: 0;
    transition: .1s ease;


}

.calendertable table tbody tr td:hover .calender-add {
    opacity: 1;
}

.calendartext {
    font-size: 11px !important;
    font-weight: 400 !important;
    line-height: 10px !important;
    letter-spacing: 0em !important;
    margin-left: 10px !important;
    margin-top: 8px !important;

}

.sticky {
    position: sticky !important;
    left: 0 !important;
    background: white !important;
    border-right: 1px solid #E5E7E6;

}

.bg-stickyHeader {
    position: sticky !important;
    left: 0 !important;
    background: white !important;
    z-index: 5 !important;
}

/* Select List */
.custom-select-wrapper {
    z-index: 9;
}

.custom-select {
    border: 1px solid #ffffff;
    border-radius: 10px !important;
    padding: 6px;
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    background-color: #5FBC61;
    color: #ffffff !important;
    /* width: 120px; */
    height: 35px;
    border-color: white;
}

.react-datepicker__close-icon:after {
    background-color: transparent !important;
    font-size: 18px !important;
}

.custom-select svg {
    color: white;
}

.custom-select fieldset {
    border: none;
}

.custom-select:hover,
.custom-select:focus {
    outline: none !important;
    border: 1px solid #ffffff !important;
    border-radius: 10px;
}

/* Date Picker */
.datepicker-wrapper {
    z-index: 10;
}

.custom-datepicker {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 6px;
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    background-color: #5FBC61;
    color: #ffffff !important;
    width: 200px;
    height: 22px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", "Figtree", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.custom-datepicker:focus {
    outline: none !important;
    border: 1px solid #ffffff !important;
    border-radius: 10px;
    outline-color: #ffffff;
    color: #ffffff;
}

/* Button Today */
.custom-button {
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 6px;
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    background-color: #5FBC61;
    color: #ffffff;
    /* width: 120px; */
    height: 35px;
    border-color: white;
    text-transform: capitalize;
}

.custom-button:hover,
.custom-button:focus {
    outline: none !important;
    border: 1px solid #ffffff !important;
    border-radius: 10px;
    color: #ffffff;
}

.selectweek {
    width: 102px;
    height: 34px;
    font-family: 'Roboto' !important;
    font-size: 14px !important;
    /* color: #fff !important; */
    border: 1px solid #fff;

}

/* calender table style */

.calenderAddJob {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.calenderAddBttn {
    display: none;
}

.calenderAddJob:hover .calenderAddBttn {
    display: block;
}

.calenderAddBttn {
    color: white;
    background: #19caf4;
    padding: 5px 10px;
    border-radius: 10px;
}

@media screen and (max-width: 380px) {
    .custom-datepicker {
        width: 130px !important;

    }
}