.services-style-two-item {
    position: relative;
    transition: box-shadow 0.5s, transform 0.3s;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFFFFF;
    padding-bottom: 110px;
}

.services-style-two-item .info {
    position: relative;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

.services-style-two-item .thumb>img {
    width: 100%;
    height: 320px;
    max-width: 100%;
    text-align:  center;
    border: none;
    border-radius: 0;
    box-shadow: none;
    object-fit: cover;
    transition: transform 0.5s;
}

.services-style-two-item .content-wrap {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .07);
    padding: 49px 30px 13px;
    z-index: 2;
    position: absolute;
    bottom: 36px;
    left: 10%;
    right: 10%;
    /* width: 100%; */
}

.services-style-two-item .content-wrap .icon-wrap {
    display: flex;
    position: absolute;
    bottom: 130px;
    left: 0px;
    top: -35px;
    justify-content: center;
    width: 100%;
    z-index: 3;
}


.services-style-two-item .content-wrap .master-icon {
    font-size: 50px;
    width: 70px;
    height: 70px;
    line-height: 95px;
    text-align: center;
    color: #FFFFFF;
    background-color: #9f4103;
    border-radius: 10%;
	padding: 10px;
}

.services-style-two-item .content-wrap .master-icon i {
    position: relative;
    z-index: 1;
}


.services-style-two-item .content-wrap .title {
    transition: color 0.3s;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    margin-top: 10px;
}

.services-style-two-item .title a {
    color: #141b22;
}



.theme-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: none !important;
    background-color: #222;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 2px;
    transition: all 0.5s linear;
    overflow: hidden;
    z-index: 1;
}

.theme-btn i {
    position: relative;
    top: 2px;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 32px;
    margin-left: 8px;
    transition: all 0.5s linear;
}

.theme-btn::before {
    position: absolute;
    content: '';
    background-color: #951e76;
    width: 100%;
    height: 0%;
    left: 50%;
    top: 50%;
    border-radius: 0px;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
    transition: all 500ms ease;
}

.theme-btn:hover {
    color: #fff;
}

.theme-btn:hover:before {
    height: 380%;
}

/*--------------------------------------------------------------
# Home About
--------------------------------------------------------------*/
.about-section {
    position: relative;
}

.about-section .shape-feature img.shape-1 {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.about-section .about-content {
    background-color: #fff;
    position: relative;
}

.about-section .about-content p {
    text-align: justify;
}


.section-title {
    position: relative;
}

.section-title.text-center::before {
    right: 0;
    margin: 0 auto;
}

.section-title .sub-title {
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    line-height: 1;
    color: #951e76;
    font-size: 20px;
    margin-bottom: 15px;
    border-left: 4px solid;
    padding-left: 10px;
    display: inline-block;
}

.section-title .title {
    font-family: 'Barlow', serif;
    font-size: 40px !important;
    margin-bottom: 0;
    text-transform: capitalize;
}

.section-title .title span {
    color: #9f4103;
}