@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Padauk:wght@400;700&display=swap');
/* 
@import url('~slick-carousel/slick/slick.css');
@import url('~slick-carousel/slick/slick-theme.css'); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"); */

:root {
    --primary: "yellow"
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Padauk', sans-serif !important;
}

a {
    text-decoration: none;
}

.slick-dots {
    bottom: 30px !important;
}

.new-slide-banner {
    max-width: 100% !important;
}


.page-container {
    max-width: 1920px;
    background: white;
    /* overflow-x: hidden; */
    margin-left: auto;
    margin-right: auto;
}


/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/
.site-footer {
    position: relative;
    display: block;
    background-color: #000;
    z-index: 1;
}

.site-footer-top {
    background: url(./assets/images/footer-bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: block;
    padding: 80px 0 50px;
    z-index: 1;

}

.site-footer-top:before {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
    content: "";
    opacity: 0.9;
    height: 100%;
    width: 100%;
}

.site-footer-top-inner {
    position: relative;
    display: block;
}

.footer-widget-about {
    position: relative;
    display: block;
    top: 7px;
}

.footer-widget-logo {
    position: relative;
    display: block;
}

.footer-widget-about-text-box {
    position: relative;
    display: block;
    padding-top: 21px;
}

.footer-widget-about-text {
    font-weight: 400;
    color: #ececec;
    font-size: 16px;
}

.footer-widget__Explore {
    position: relative;
    display: block;
}

.footer-widget-title-box {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.footer-widget-title {
    font-size: 20px;
    color: #fff;
    line-height: 28px;
    font-weight: 700;
}

.footer-widget__Explore-list {
    position: relative;
    display: block;
}

.footer-widget__Explore-list li+li {
    margin-top: 10px;
}

.footer-widget__Explore-list li {
    position: relative;
    padding-left: 25px;
}

.footer-widget__Explore-list li:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 14px;
    color: #b5c3be;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.footer-widget__Explore-list li a {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #eee;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.footer-widget__Explore-list li a:hover {
    color: #55c604;
}

.footer-widget-contact {
    position: relative;
    display: block;
}

.footer-widget-contact-list {
    position: relative;
    display: block;
}

.footer-widget-contact-list li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.footer-widget-contact-list li+li {
    margin-top: 5px;
}

.footer-widget-contact-list li .icon {
    position: relative;
    font-size: 13px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-widget-contact-list li .icon span {
    position: relative;
    display: inline-block;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    font-size: 18px;
}

.footer-widget-contact-list li .text h6 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-widget-contact-list li .text p {
    font-size: 16px;
    font-weight: 500;
    color: #eee;
}

.footer-widget-contact-list li .text p a {
    color: #eee;
}

.footer-widget-contact-list li .text p a:hover {
    color: #55c604;
    transition: all 500ms ease;
}


.site-footer-bottom {
    position: relative;
    display: block;
    background-color: #000;
    z-index: 1;
}

.site-footer-bottom-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px;
    border-top-left-radius: 10px;
    z-index: 1;
}

.site-footer-bottom-scroll {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.site-footer-bottom-scroll a {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #951e76;
    color: #fff;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.site-footer-bottom-scroll a:hover {
    background-color: #fff;
    color: #0e2207;
}

.site-footer-bottom-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #eee;
    margin-bottom: 0;
}

.site-footer-bottom-text.text {
    padding-right: 100px;
}

.site-footer-bottom-text.text a {
    color: #55c604;
}

.site-footer-bottom-text a {
    color: inherit;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.site-footer-bottom-text a:hover {
    color: #55c604;
}

@media (max-width: 767px) {
    .site-footer-bottom-inner {
        display: block;
    }
}





/*--------------------------------------------------------------
# Site Footer
--------------------------------------------------------------*/


/* PRODUCT SECTION */

.product-block .inner-box {
    position: relative;
    display: block;
}

.product-block .upper {
    position: relative;
    display: block;
}

.product-block .image-box {
    position: relative;
    display: block;
    background: #222222;
}

.product-block .image-box img {
    position: relative;
    display: block;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.product-block:hover .image-box img {
    opacity: 0.15;
}

.product-block .hvr-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -30px 0px 0px -30px;
    width: 60px;
    height: 60px;
    font-size: 36px;
    text-align: center;
    line-height: 70px;
    border-radius: 2px;
    background: #951e76;
    color: #ffffff;
    opacity: 0;
    -ms-transform: scale(0);
    transform: scale(0);
    z-index: 6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.product-block .hvr-icon a {
    color: #ffffff;
}

.product-block:hover .hvr-icon {
    opacity: 1;
    -ms-transform: scale(1);
    transform: scale(1);
}

.product-block .lower {
    position: relative;
    padding: 25px 30px 25px 30px;
    background: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
} 

.product-block h5 {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.5em;
    margin-bottom: 12px;
}

.product-block h5 a {
    color: #132728;
}

.product-block:hover h5 a {
    color: #951e76;
}

.product-block .text {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 1.7em;
    font-weight: 400;
    margin: 0 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.product-block .more-link {
    position: relative;
    display: block;
    padding-top: 15px;
}

.product-block .more-link a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    color: #02351c;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.product-block .more-link a i {
    position: relative;
    top: -1px;
    vertical-align: middle;
    margin-left: 5px;
}

.product-details-block .product-content {
    margin-top: 50px;
}

.product-details-block .heading {
    position: relative;
    padding-left: 80px;
    min-height: 72px;
    margin-bottom: 18px;
}

.product-details-block .heading:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 60px;
    background: #55c604;
}

.product-details-block .heading .heading-icon {
    position: absolute;
    left: 20px;
    top: 24px;
}

.product-details-block .heading .subtitle {
    position: relative;
    display: block;
    line-height: 1.2em;
    font-size: 14px;
    color: #55c604;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.product-details-block .heading h2 {
    position: relative;
    display: block;
    font-size: 34px;
    line-height: 1em;
    color: #132728;
    font-weight: 700;
    margin-bottom: 0px;
}

.product-details-block .product-content p {
    text-align: justify;
}

.product-details-block .product-content ul {
    margin-top: 28px;
}

.product-details-block .custom-list li {
    margin-bottom: 15px;
    position: relative;
    padding-left: 30px;
    font-size: 17px;
}

.product-details-block .custom-list li:before {
    content: "\f00c";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    left: 0;
    top: 0;
    font-weight: 700;
    color: #fff;
    background: #98257a;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}